<section>
        <div style="padding: 20px;">
            <p>
                message: {{title}}
            </p>
            <p>
                Email: {{email}}
            </p>
            {{#each error}}
            <p style="color: red;">{{this}}</p>
            {{/each}}
        </div>
</section>