<div class="signZone">
      <div class="sign-box">
        <form name="signIn" id="signIn_FORM" method="POST" action="/signIn_Form">
          <h1 class="a-spacing-small" id="signin_title">
            Sign-In
          </h1>
          <label for="ap_email" class="a-form-label">
            E-mail address or mobile phone number
          </label>
          <br>
          <input type = "email" maxlength="128" id="ap_email" name= email required>
          <br>
          <input type = "password" maxlength="16" id="passWord" name= password required>
          <div id="legalTextRow" class="a-row a-spacing-top-medium a-size-small">
            By continuing, you agree to Amazon's <a href="https://www.amazon.ca/gp/help/customer/display.html/ref=ap_register_notification_privacy_notice?ie=UTF8&nodeId=918814" style="color: blue;">Privacy Notice</a>.
          </div>
          <input type="submit" value="Login" style="text-align: center;background-color: #f0c14b;">

          <div class="a-divider a-divider-break"><h5>New to Amazon?</h5></div>
          <br><a href="/signup" class="signupbutton" style="text-align: center;font-size: 12pt;text-decoration: underline;color: blue;">Create your amazon account</a>
        </form>
      </div>
    </div>